.avatar-area {
    max-width: 400px;
}

/* Icon social */
.social-icons {
    margin: 0;
    display: inline-block;
}
.social-icons li a {
    border: 1px solid #31383D;
}
.social-icons li a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 1em;
    line-height: 40px;
    text-align: center;

}
.list-inline-item {
    margin-right: 5px;
}

.heading_background {
    position: absolute;
    display: block;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    font-size: 140px;
    font-weight: 900;
    line-height: 0.1;
    z-index: 1;
}