@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --bg-dark: #1E2326;
  --primary-white: #ffffff;
  --primary-blue: #1A7BB7;
  --primary-blue-hover: #1A6FA3;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  background-color: var(--bg-dark);
  color: #f0f0f0;
}

/* Particles js */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}


/* gobal */
.bg_pattern {
  background-image: url(https://demo.themesuccess.com/templates/rectcv/layouts/assets/images/background_pattern.svg);
}

section, div.section {
  position: relative;
  padding: 100px 0px;
}

.section-title {
  position: relative;
  margin-bottom: 3rem;
}

.text_background {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 2;
  font-size: 3rem;
  margin: 3rem 0 1rem;
}

.heading_background {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.05);
}

@media (max-width: 992px) {
  .heading_background {
    font-size: 40px;
    top: -36%;
  }
}

.btn-outline-primary {
  border: 1px solid rgb(26, 123, 183);
  color: rgb(26, 123, 183);
  background: transparent;
  font-weight: 500;
}

.btn {
  display: inline-block;
  text-align: center;
  border-radius: 0;
  padding: 10px, 25px;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.img-fluid {
  width: 100%;
}